body {
    background-image: url("https://dcdigital.ca/ang/wp-content/uploads/2019/11/laptop.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


.heading {
    margin-top: 0px;
    font-size: 60px;
    font-family: 'Montserrat';
    color:black;
  
}

fieldset {
    background: url("https://media.istockphoto.com/vectors/notebook-paper-background-yellow-lined-paper-vector-id961356552?k=6&m=961356552&s=170667a&w=0&h=Zsbe3erbBQj1drfF0RNOOoPZ_BBPZGmzlac7wDNecYg=");
    border: 1.5px solid darkslategrey;
    border-radius: 4px;
    box-shadow: -3px 4px 6px 0px rgba(50, 50, 50, 0.5);
    display: flex;
    font-family: "Montserrat";
    flex-direction: column;
    margin: 20px 0px 0px 30px;
    opacity: 0.96;
    width: 35%
}

#date-field {
    margin-top: 70px;
    
}

#dateInput {
    border: 1px solid black;
    width: 150px;
    margin-left: 35.5%;
    opacity: 0.7;
}

#date-label {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


#mood-field {
    margin-bottom: 10px;
}

#mood {
    border: 1px solid black;
    opacity: 0.9;
}

#mood-label {
    font-size: 18px;
    font-weight: bold;
}

#concepts {
    border: 1px solid black;
    width: 99%;
    height: 30px;
    opacity: 0.7;
}

#concepts-label {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

#journal__entry {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 99.9%;
    height: 200px;
    margin-bottom:14px;
    opacity: 0.7;
    outline: none;
    padding: 0 0 0 0;
}

#entry-label {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    }

.button {
    background-color: limegreen;
    box-shadow: 1px 1px 0px #2b638f;
    border: 1.5px solid darkslategrey;
    border-radius:5px;
    font-family: "Montserrat";
    font-weight: bold;
    margin-left: 15%;
}